body {
    font-size: 14px;
    background: #eeeeee;
    color: #333333;
    width: auto;
    margin: 0 auto;
}
#movrevapp {
    background: #fff;
    padding: 20px;
    margin-bottom: 40px;
}
h4 {
    margin-top: auto;
    text-align: center;
}
#movrevapp input[type="text"] {
    width: auto;
    font-size: 18px;
    line-height: 1.0em;
    padding: 6px;
}
#main {
    display: none;
}
.span12{
    -moz-box-shadow: 0 0 2px black;
    -webkit-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;
    margin: 10px;
    border-radius: 5px;
}
header {
    visibility:visible;
    color: #ff400b;
}
footer {
    opacity: 0.8;
    bottom:0px;
    height:30px;
    right:0%;
    left:0%;
    position:fixed!important;
    position:absolute;
    width:100%;
    text-align:right;
    padding-right: 20px;
    visibility:visible;
    color: #ff400b;
}
#date {
    opacity: 0.6;
    width:100%;
    text-align:right;
    padding-right: 20px;
    visibility:visible;
    color: #ff400b;
}
.searchresult{
    -moz-box-shadow: 0 0 2px black;
    -webkit-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;
    margin: 10px;
    border-radius: 5px;
    width: auto;
    height: 300px;
}
.p3scroll
{
    background-color: white;
    width: auto;
    height:280px;
    style-display: none;
    border-color: darkblue;
    border-radius: 5px;
    overflow:scroll;
}
.table-hover tbody tr:hover td {
    background-color: #ebfaff;
    color: blue;
}
#myModal3 {
    border-radius: 6px;
    background-color: #dffaff;
}
#myModal4 .modal-dialog  {width:75%;}