<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Original - Rotten Tomatoes Movie Reviews </title>
    <link rel="stylesheet" href="CSS/myStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!--
        <link rel="stylesheet" href="CSS/bootstrap.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/readable/bootstrap.min.css">
    -->
</head>
<body>
<div ng-app="movieReviews" class="jumbotron" style="padding:2px">
    <header>
        <h4>Rotten Tomatoes Movie Reviews</h4>
        <span><div id="date"><span my-current-time="format"></span></div></span>
    </header>
    <div ng-controller="movieCtrl">
        <div id="movrevapp" class="span12">
            <table class="table table-condensed">
                <col width="400">
                <col width="20">
                <col width="80">
                <col width="20">
                <col width="80">
                <tr>
                    <td><strong>Title</strong></td>
                    <td><strong>Tomatoes</strong></td>
                    <td><strong>%</strong></td>
                    <td><strong>Audience</strong></td>
                    <td><strong>%</strong></td>
                    <td><strong>Detail</strong></td>
                </tr>
                <tr ng-repeat="movie in movies">
                    <td>{{$index + 1}}.<span>{{movie.title}}</span></td>
                    <td> <img style="height:20px;" style="width:20px;" ng-src="{{criticsrating(movie.critics_rating)}}"/></td>
                    <td>{{movie.critics_score}} %</td>
                    <td> <img style="height:20px;" style="width:20px;" ng-src="{{audiencerating(movie.audience_rating)}}"/></td>
                    <td>{{movie.audience_score}} %</td>
                    <td> <button class="btn btn-primary btn-sm" ng-mouseover="open('sm', movie.id)" ng-mouseleave="ok()">Details</button></td>
                </tr>
            </table>
            <script type="text/ng-template" id="myMovieContent.html">
                <div id="myModal3">
                    <div class="modal-header">
                        <h3 class="modal-title" style="color:#71b5ff">Movie Details</h3>
                    </div>
                    <div class="modal-body">
                        <strong>Id :</strong>{{movdet.id}}<br>
                        <strong>Title :</strong>{{movdet.title}}<br>
                        <strong>Year :</strong>{{movdet.year}}<br>
                        <strong>Rating :</strong>{{movdet.mpaa_rating}}<br>
                        <strong>Runtime :</strong>{{movdet.runtime}}<br>
                        <img ng-src="{{movdet.posters.thumbnail}}"/><br>
                        <strong>Director :</strong><br>
                        {{movdet.abridged_directors[0].name}}<br>
                        <strong>Cast :</strong><br>
                        <div ng-repeat="ctr in counter=[0,1,2,3,4]">
                            <div ng-if="checkempty(movdet.cast[$index].name)">
                                <strong>{{$index + 1}}.</strong><span>{{movdet.cast[$index].name}} as {{movdet.cast[$index].characters[0]}}</span><br>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                    </div>
                </div>
            </script>
            <form ng-submit="fetchResults()">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search&hellip;" ng-model="search">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Go</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div ng-show="showresult">
                    <strong>Number of Records :</strong> {{results.length}}<br>
                    <table class="table">
                        <col width="80">
                        <col width="575">
                        <col width="150">
                        <col width="200">
                        <tr>
                            <th><strong>Sr.No.</strong></th>
                            <th><strong>Title</strong></th>
                            <th><strong>Year</strong></th>
                            <th><strong>Rating</strong></th>
                            <th><strong>Runtime</strong></th>
                            <th><strong>Add</strong></th>
                        </tr>
                    </table>
                </div>
                <div class="p3scroll" ng-show="showresult">
                    <table class="table table-hover">
                        <col width="80">
                        <col width="575">
                        <col width="150">
                        <col width="200">
                        <tr ng-repeat="title in results">
                            <td> {{$index+1}} </td>
                            <td> {{title.title}}</td>
                            <td> {{title.year}}</td>
                            <td> {{title.mpaa_rating}}</td>
                            <td> {{title.runtime}}</td>
                            <td> <button ng-show="exists({{title.id}})"
                                         ng-click="addmovie(title.id, title.title, title.ratings.critics_rating, title.ratings.critics_score, title.ratings.audience_rating, title.ratings.audience_score)">
                                Add </button></td>
                        </tr>
                    </table>
                </div>
                <button class="btn btn-primary btn-sm" ng-click="reset()" ng-show="searchstat"> Clear Search </button>
            </form>
        </div> <!-- movrevapp -->
    </div>  <!-- ng-controller movieCtrl -->
</div>  <!-- ng-app movieReviews -->
<footer>
    <p>Developed By Jacob V. &copy 2015</p>
</footer>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
-->
<script src="Javascript/angular.min.js"></script>
<script src="Javascript/angular-ui-router.js"></script>
<script src="Javascript/ui-bootstrap-tpls-0.12.1.js"></script>
<script src="Javascript/app.js"></script>
</body>
</html>
